recursive-include cytoolz *
include LICENSE.txt
include setup.py
include README.rst
include Makefile
include MANIFEST.in
include pyproject.toml
include cytoolz/*.pyx
include cytoolz/*.pxd
global-exclude *.pyc *~ *.bak *.swp *.swo *.pyo *.so
